@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
    --teksti: #3333333;
    --tekstivaalea: #efefef;
    --tausta: #eeeeeee;
    --bg-dark: #312f2f;
    --highlight: #24acb1;
    --highlight_vaalea: #b5dddf;
}
* {
    box-sizing: border-box;
}

/*yleiskäyttöisiä tyylejä*/
/*vertikaalinen keskitys*/
.v-center {
    position:absolute;
    left: 0px;
    transform: translateY(-50%); 
    top: 50%;
  
}
body {
    font-size: 15px/1.5;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /*oletusvärimuuttuja*/
    background-color:var(--tausta);
    color: var(--teksti);
}

/* Header-tyylt */
header {
    background-color: var(--bg-dark);
    color: var(--tekstivaalea);
    padding: 10px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: var(--highlight) solid 5px;
    float: right;
}

/* risuaita viittaa id, piste classiin */

/* headerin sisällä olevat valikon listaelementit tyylitetään*/
header li {
    display: inline;
    padding: 0 30px;
    width: 100%;
}

/* headerin sisällä olevat valikon linkit tyylitetään*/
header nav a {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing:0.120em;
    padding: 0.3em;
    color: var(--tekstivaalea);
    text-decoration: none;
    text-transform: uppercase;
}

header nav a:hover{
    color: #000000;
    background-color: var(--highlight);
    font-weight: bold;
}
    
header  {
    float: right;
}

/* main-lohkon tyylit */
main {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-top: 90px;
}

/*section-lohkon tyylit */
section {
    max-width: 800px;
    width: 70%;
    margin: 20px auto;
}

/*showcase*/
.showcase {
    font-size: 0.7em;
    padding: 10px 0;
    width: 70%;
    height: 100%;
    /*background-color: var(--highlight_vaalea)*/
}

/*content*/
.content {
    font-size: 0.7em;
    line-height: 1.5em;
    padding: 10px 0;
    width: 70%;
    height: 100%;
}
.content2 {
    font-size: 0.7em;
    line-height: 1.5em;
    padding: 10px 0;
    width: 70%;
    height: 100%;
}
/*kokeilu*/
.content2 p::first-line {
    font-weight: bold;  
}

.content ul {
    list-style-type: square;
}
/*tutkinnon osat*/
.content h2 {
    font-size:x-large;
    font-weight: bold;
    background-color: var(--highlight_vaalea);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/*footertyylit*/
footer {
    height: 10%;
    background-color: var(--bg-dark);
    color: var(--tekstivaalea);
    padding: 20px 0;
    text-align: center;
    font-size: 0.8em;
    border-top: var(--highlight) solid 5px;
}